.tableView{
    background-color: #ffffff;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    thead th {
        border-bottom: 0px;
        font-size: 12px;
        font-weight: 600;
        color: rgba(20, 20, 20, 0.35);
        padding-right: 8px;
        border-bottom: 1px solid rgba(221, 221, 221, 0.7);
    }
    thead th.active {
        color: rgba(20, 20, 20, 0.95);
    }
    tbody {
        td {
            padding: 5px;
            border-bottom: 0;
            color: #2c2c2c;
            padding-right: 8px;
            border-bottom: 1px solid rgba(221, 221, 221, 0.7);
        }
    }
}

.dataTables_wrapper {
    padding-top: 10px; 
    table.dataTable {
        background-color: #ffffff;
        width: 100%;
        border-collapse: collapse;
        margin: 0;
        thead th {
            border-bottom: 0px;
            font-size: 12px;
            &.sorting {
                background-image: url(../../assets/images/icons/sort_both.png) 
            }
            &.sorting_asc {
                background-image: url(../../assets/images/icons/sort_asc.png) 
            }
            &.sorting_desc {
                background-image: url(../../assets/images/icons/sort_desc.png) 
            }
        }
        tbody {
            td {
                padding: 5px;
                border-bottom: 0;
            }
        }
    }
    .dataTables_info {
        font-size: 13px;
    }
    .dataTables_paginate {
        font-size: 14px;
        padding-top: 0em;
        .page_button {
            display: inline-block;
            min-width: 1em;
            padding: 0em 1em;
            margin-left: 1px;
            text-align: center;
            text-decoration: none !important;
            cursor: pointer;
            color: #333 !important;
            &.current {
                color: #48B0F7 !important;
                font-weight: bold;
            }
        } 
    }
}

.table_view {
    width: 100%;
    .search_box {
        height: 35px;
        padding: 5px;
        float: right;
    }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}